# Application
NODE_ENV="development"
PORT="3301"

# Database
DB_DIALECT="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_USERNAME="example_user"
DB_PASSWORD="example_password"
DB_DATABASE="example_db"
DB_SCHEMA="public"
DB_SSL="false"

# Authentication
JWT_ISSUER="chatio"
JWT_ACCESS_TOKEN_SECRET="supersecretkey123"
JWT_ACCESS_TOKEN_EXP="1h"

# OAuth
OAUTH_GOOGLE_CLIENT_ID="713390347656-osei14oqkh8lqefroko1id6lv03fvjpj.apps.googleusercontent.com"
OAUTH_GOOGLE_CLIENT_SECRET="example_google_client_secret"

# Public API
PUBLIC_API_KEY="public-api-key-example-123456"

# Redis
REDIS_URI="redis://localhost:6379"
